<a href="https://colab.research.google.com/github/JadenD5321/Summer-2022-Microcredential-/blob/main/Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
# always name your variable that has to do with a data that it holds
# never start a variable with a number
car =  'Volvo'

type(car)
int
_car= 2.4 
type(_car)
float # Decimal points 

car2='Audi'

num1=23
num2=45
num3= 8.9


 # The rules to define the variables 


 
 #1) Must start with a letter or_ Underscore
 #2) Consists of letters, Numbers and Underscores, but it will not start with a number
#3) Variables names are case sensitive


# Boolean types
## Bascially deterimines the difference between true and false based on the information given 

#< 
#>

# Examples of comparision operators 

10<20 
True

15<14 
False

12>=10 
True 

17<=20 
True 

25>=25 
True

 #Logical operators
1
1
1
1
1
1
1
1
1

1

In [39]:
#Logical operators= order of expressions 

# AND Operator 
3>2>1 
false

3>2 and 2<1 
false 


# Or Operator 
3>2  or 2<1

True

3<2  or 2<1 

false


#Not Operator
5>3
true
not(5<3)




True= #indeed 3 is greater than the other numbers.
# Determining the importance of truth tables in data analytics
# And condition is true when both conditions are true statements 
#or condition  is true when at least one of the conditions are true 
3>2<1
# 3 is greater than 2.2 is not less than 1. 


import numpy as np 
import pandas as pandas
import matplotlib as plt

SyntaxError: ignored

In [ ]:
Genghis Rules of Programming 
1) Read the documentation 
2) Practice 
3) Stackoverflow
4) Genghis is NEVER WRONG! 
5) There is no spoon!- WHAT BOX-

In [8]:
#Basic Notebook

print('Hi There')

Hi There

In [43]:
import this

## 1. Read the documentation 
##2. Practice 
##3. Stackoverflow 
##4. Genghis is Never Wrong 
## There is no spoon !

In [48]:
# this is a comment
print('something')

something

Variables 

1 'This is a string' ## strings tend to have single quotes.
1= type(string) # inside will be an argument. It automatically tells one what they need to implement inside an actual function. 
1
1
1
1
1
1
1
1
1
1

"""
this 
is 
a 
multi 
line 
comment  
"""
"\This \nis \na\multi\nline\ncomment