<a href="https://colab.research.google.com/github/JadenD5321/Summer-2022-Microcredential-/blob/main/BasicsDrei.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Introduction to Python

##Conditionals & Loops!!

##Conditionals& Loops

## IF...ELIF...Else.Statements

In [ ]:
"""
if( condition):
  do something 
"""

'\nif( condition):\n  do something \n'

In [ ]:
if 3>2:
  print("Right")

Right

In [ ]:
if 4>7 :
 print("Right")
else: 
  print("Wrong")

Wrong

In [ ]:
a=3
b=5

if a>b: 
  print("Yes it is right !!!")
else:
  print("Try again !!!")

Try again !!!

In [ ]:

##ADD some more notes later
drink="Tea"

if drink =="Coffee":
    print("Humanity runs on Coffee")
else: 
    print("Where there is a Tea, There is a hope !!!")

Where there is a Tea, There is a hope !!!

##Loops!!
##For..Loop

In [14]:
"""
for iterator in array: 
  do something 
"""
# Multi-line comment

'\nfor iterator in array: \n  do something \n'

In [15]:
my_list = [1,2,3,4,5,6,7,8,9,10] # numbers stored in the list

In [17]:
# FOR SOMETHING IN SOMETHING (Comment)
for num in my_list:  # we use this to basically place things in the list generally
  print(num)

1
2
3
4
5
6
7
8
9
10

In [18]:
# i - iterator
# if the number (i) when you divide by 2 gives me a remainder of 0
# I want to print that number
for i in my_list:
  if i % 2 == 0:
    print(i)

2
4
6
8
10

In [ ]:
for num in my_list:
  if num% 2 !=0:
    print(num)

1
3
5
7
9

In [21]:

## Typical coding interview question 
my_list=[1,2,3,4,5,45,6,34,980,3756,26]
list_sum=0 
for num in my_list: 
    list_sum=list_sum+num
print(list_sum)

4862

In [24]:
## Defining a regular loop

my_string="Hello World"
for x in my_string: 
    print(x)

H
e
l
l
o

W
o
r
l
d

In [23]:
for tup in my_list: 
  print(tup) 

(1,2)
(3,4)
(5,6)
(7,8)

1
2
3
4
5
45
6
34
980
3756
26

(7, 8)

In [31]:
# Tuple means to store multiple items in a single variable
my_list = [(1,2), (3,4), (5,6), (7,8)]
len(my_list)

4

In [30]:
for tup in my_list:
  print(tup)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [29]:
for a,b in my_list:
  print(a)

1
3
5
7

In [32]:
for a,b in my_list:
  print(a,b)

1 2
3 4
5 6
7 8

In [34]:
for a,b in my_list: 
  print(a)

1
3
5
7

In [35]:
my_list = [(1,2,3), (4,5,6), (7,8,9)] # bascially you repeat a,b, and C three times depending on how you will gather information within a list

In [37]:
for a,b,c in my_list: 
    print(a,c)

1 3
4 6
7 9

In [38]:
my_dict = {"k1":1, "k2":2, "k3":3} # the K values represent A  while the numbers represent the b values that you will storing into the printer.

In [40]:
my_dict={"k1":1,"k2":2,"k3":3}

In [42]:
for i in my_dict:
    print(i)

k1
k2
k3

In [46]:
for i in my_dict.items():
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [49]:
for( a,b) in my_dict.items(): 
  print(b)

1
2
3

In [50]:
# How to define a for loop
# for loop with, 
# list
# String
# Tuple
# Dictonary

## While Loops

In [60]:
# As long as i is less than 5, print the answer
i = 0

while i< 5:
  print(i)
  i = i + 1

0
1
2
3
4

In [62]:
i = 0

while i < 5:
  print(i)
  i = i + 1
else: 
  print("i is not less than 5")

0
1
2
3
4
i is not less than 5

## Pass, Break, and Continue

In [63]:
i = [1,2,3,4,5]

for items in i:
  # comment
    pass
print("I will work after !!!")

I will work after !!!

In [69]:
my_string = "Hello world"

for letters in my_string:
  if letters == "r": # Basically you break a function before reaching the actual letter of a word 
    break
  print(letters)

H
e
l
l
o

w
o

In [70]:
my_string = "Hello world"

for letters in my_string:
  if letters == "o" # bascially the letter 0 is within the scope then you can skip it and bascially continue onwards 
    continue
    
  print(letters)

H
e
l
l

w
r
l
d

In [71]:
i = 0
while i < 5:
  if i == 3:
    break
  print(i)
  i = i + 1

0
1
2

##Most used built- in functions in Python

In [72]:
for num in range(10):
  print(num)

0
1
2
3
4
5
6
7
8
9

In [73]:
for num in range(0,11,2):
  print(num)

0
2
4
6
8
10

In [80]:
my_list = [1,2,3,4,5,6,7,8,9,10]
range(10)
list(range(10))
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

##2) Enumerate

## it gives back us an index count and object itself

In [84]:
word = "Batman"

for items in word:
  print(items)

B
a
t
m
a
n

In [85]:
for items in enumerate(word):
  print(items)

(0, 'B')
(1, 'a')
(2, 't')
(3, 'm')
(4, 'a')
(5, 'n')

In [86]:
for a,b in enumerate(word):
  print(a,b)

0 B
1 a
2 t
3 m
4 a
5 n

In [87]:
for a,b in enumerate(word):
  print(a)
  print(b)
  print("\n")

0
B


1
a


2
t


3
m


4
a


5
n

In [88]:
# extra resources for Python
## https://www.youtube.com/watch?v=-MZiQaNI0QA

## https://www.python-ds.com/python-3-escape-sequences

### 3) zip

In [89]:
list1 = [1,2,3,4,5] # a,b,c,d,e
list2 = ["a","b","c","d","e"]
list3 = ["a", "b", "d"]

In [90]:
list4 = zip(list1, list2)

In [91]:
print(list4)

<zip object at 0x7f06024de820>

In [92]:
for items in zip(list1, list2):
  print(items)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [93]:
for a,b in zip (list1, list2):
  print(a,b)

1 a
2 b
3 c
4 d
5 e

In [95]:
for a,b,c in zip(list1, list2, list3):
  print(b)

a
b
c